#hape{
    width: 600px;
    background: lightseagreen;
    margin: 0 auto;
    text-align: center;
}

#hp div{
    padding: 10px;
    margin: 0 auto;
    background-color: aqua;
    border-radius: 30px;  
  
}

h3{
    background: gray;
    width: 700px;
    border: 1px solid black;
    border-radius: 15px;
    margin: 30px;
}

#hape div .nama-ponsel{
    display: block;
    color: blue; 
}

#hape div .nama-ponsel::before{
    content: "Nama: "
}

#hape div .harga-ponsel{
    display: block;
    color: lightgreen;
}

#hape div .harga-ponsel::before{
    content: "Harga: "
}

#hape div .ram-ponsel{
    display: block;
    color: red; 
}

#hape div .ram-ponsel::before{
    content: "RAM: "
}

#hape div .storage-ponsel{
    display: block;
    color: white; 
}

#hape div .storage-ponsel::before{
    content: "Storage: "
}