<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Layout</title>
    <style>
        body{
            background: whitesmoke;
        }

        h1{
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            color: darkblue;
        }

        img{
            width: 500px;
            height: 350px;
            margin: auto;
            padding: 10px;
            display: block;
            border: 2px solid black;
            border-radius: 5px;
        }
    </style>
</head>
<body>
    <center><h1>Gambar Macam-Macam Layout</h1></center>
    <div>
        <img src="assets/img/layouts.png" alt="#">
    </div>
</body>
</html>